
My Paratext 8 Projects
Lexicons/YES.xhtml
Lexicons/LexiconLDB.xhtml
Lexicons/KNCmodLexicon.xml
Lexicons/KNCmodlex.xml
Lexicons/KNC.xhtml
Lexicons/AHS_Lexicon.xhtml
Interlinear_en
AHS
My Paratext 8 Projects
